.dashboard-header {
  min-height: 70px;
  padding: 20px 35px;
}

.header-title {
  font-size: 24px;
  font-weight: 700;
  color: #212529;
}

@media (max-width: 576px) {
  .dashboard-header {
    padding: 15px 20px;
  }

  .header-title {
    font-size: 20px;
  }
}